<a href="{{ url }}" data-pid="{{ current_variant_id }}" class="js_quick_view button-quick-view" data-js-popup-button="quick-view">
  <span class="icon fa fa-eye"></span>
  <span class="icon-loading circle-loadding"><span></span></span>	
  <span class="text">{{ 'products.grid_items.quick_view' | t }}</span>
</a>