@font-face {
  font-family: "Caros";
  src: url(../../frontend/bluesky/bluesky_armania_funiture_2/en_US/fonts/CarosBold.eot?#iefix)
      format("embedded-opentype"),
    url('CarosBold.woff')
      format("woff"),
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Caros";
  
  src: url('CarosMedium.woff2') format("woff2"),
      font-weight: 500;
    
}